<div class="ui !bg-[#1C1F21] inverted !text-white left fixed vertical menu">
    <div class="item">
        <img class="ui image" src="/images/logo.png">
    </div>
    <a class="item">Home</a>
    <a class="item">Testimonials</a>
    <a class="item">Testimonials</a>
    <% if (user) { %>
        <a href="/logout" class="menu item !absolute bottom-0 w-[-webkit-fill-available]">Déconnecter</a>
        <a href="/profile" class="item">Profil</a>
    <%} else {%>
        <a href="/login" class="menu item !absolute bottom-0 w-[-webkit-fill-available]">Sign-in</a>
    <%}%>

</div>