<div class="ui !bg-[#1C1F21] inverted !text-white left fixed vertical menu">
    <div class="item">
        <img class="ui image" src="/images/logo.png">
    </div>
    <a href="/" class="item"> <i class="ui icon home"></i></i>
        Home</a>
    <a href="/film" class="item"> <i class="ui icon film"></i></i>
        Film</a>
    <% if (user) { %>
        <% if (user.isAdmin) { %>
            <a href="/admin" class="item"><i class="ui icon chart bar"></i></i>Admin</a>
        <% } %>
        <a href="/profile" class="item"><i class="ui icon user"></i></i>Profil</a>
        <a href="/logout" class="menu item !absolute bottom-0 w-[-webkit-fill-available]"><i
                    class="ui icon sign-out"></i>Déconnecter</a>
    <% } else { %>
        <a href="/login" class="menu item !absolute bottom-0 w-[-webkit-fill-available]"><i class="ui icon sign-in"></i>Sign-in</a>
    <% } %>

</div>